
.text-primary{
    color:#3f454d !important;
}

.bg-primary{
    background-color:#3f454d !important;
}
.text-secondary{
   color:#00afaa !important;
}
.bg-secondary{
   background-color:#00afaa !important;
}
.banner{
    background-image:url(../images/ima.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 180px 0;
}